
.sale-banner {
    width: 260px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(251, 251, 251);
    color: rgb(66, 63, 253);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: slideDown 1s ease-in-out, pulse 1.5s infinite;
  }

  .sale-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  @keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }
  @keyframes slideDown {
    0% {
      transform: translateX(-50%) translateY(-100%);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  